<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/popper.js/2.11.7/umd/popper.min.js}">
</head>

<body>
	<header th:fragment="cabesera">
		<div class="container">
			<div class="row text-bg-primary p-3 text-center">
						<div class="col-md-1">
							<img class="img-fluid d-none d-sm-block" src="/img/logo.png" alt="logo de la uni o publicidad">
						</div>
						<div class="col-md-8">
							<h2>Programacion Visual</h2>
						</div>
				</div>
		</div>
	</header>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
</body>

</html>