<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/popper.js/2.11.7/umd/popper.min.js}">
</head>

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand">.:PV:.</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/index}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/cliente/listado}">Cliente</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/produc}">Producto</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/compra}">Compra</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
</body>

</html>