<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/popper.js/2.11.7/umd/popper.min.js}">
</head>

<body>
	<footer th:fragment="pie">
		<div class="container-fluid">
			<div class="row text-bg-primary p-3 text-center">
			<footer class="footer-section">
				<div class="text-white py-1">
			    <h2>Universidad Nacional La Quiaca</h2>
			    <h2>Derechos Reservados © 2024</h2>
			    <h2>Creado por APU UNJU</h2>
				</div>
			</footer>
			</div>
		</div>
	</footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
</body>

</html>