<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/popper.js/2.11.7/umd/popper.min.js}">
	<title>Nueva Persona</title>
</head>

<body>
	<div class="container bg-info">
		<header th:include="layout/cabesera :: cabesera"></header>
		<header th:include="layout/header :: header"></header>
		<div class="row">
			<div class="col-md-8">
				<h2 class="text-bg-secondary p-3">Listado de Clientes</h2>
			</div>
			<div class="col-md-4">
				<a class="btn btn-dark m-2" th:href="@{/cliente/nuevo}">Cliente Nuevo</a>
			</div>
			<div class="my- mb-4 mc-1">
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 table-resonsive">
				<table class="table tale-striped table-dark" id="clientes" border="1">
					<caption>Total de Clientes: <a id="resultado"></a>
					</caption>
					<thead>
						<tr>
							<th> Tipo de documento</th>
							<th> Número de documento</th>
							<th> Apellido y Nombres</th>
							<th> E-mail</th>
							<th> Password</th>
							<th> Fecha de nacimiento</th>
							<th> Fecha de UltimaCompra</th>
							<th> Edad</th>
							<th> Teléfono</th>
							<th> Accion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cli : ${cliente}">
							<td th:text="${cli.tipoDocumento}"></td>
							<td th:text="${cli.nroDocumento}"></td>
							<td th:text="${cli.Apellido} + ' ' + ${cli.Nombre}"></td>
							<td th:text="${cli.email}"></td>
							<td th:text="${cli.password}"></td>
							<td th:text="${cli.fechaNacimiento}"></td>
							<td th:text="${cli.fechaUltimaCompra}"></td>
							<td th:text="${cli.edad}"></td>
							<td th:text="${cli.codigoAreaTelefono} + '-' + ${cli.nroTeléfono}"></td>
							<td>
								<a class="btn btn-info"
									th:href="@{/cliente/editar/{nroDocumento}(nroDocumento=${cli.nroDocumento})}">Editar</a>
								<a class="btn btn-danger"
									th:href="@{/cliente/eli/{nroDocumento}(nroDocumento=${cli.nroDocumento})}">Eliminar</a>

							</td>
						</tr>
					</tbody>
				</table>
				<table class="table tale-striped table-dark">
					<thead>
						<tr>
							<th> T Ultima Compra</th>
							<th> T Fecha nacimiento</th>
							<th> T Cumpleaños</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cl : ${cliente}">
							<td th:text="${cl.com}"></td>
							<td th:text="${cl.cum} + ' días'"></td>
							<td th:text="${cl.tim}"></td>
						</tr>
					</tbody>
				</table>
				<script>
					let tablaclientes = document.getElementById('clientes');
					let filas = tablaclientes.getElementsByTagName('tbody')[0];
					document.getElementById('resultado').innerText = filas.children.length;
				</script>
			</div>
			<div class="col-md-3 col-sm-6 (xs) justify-content-center">
				<aside th:include="layout/publi :: publicidad"></aside>
			</div>
		</div>
		<header th:include="layout/pie :: pie"></header>
	</div>

	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>

</html>