<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/popper.js/2.11.7/umd/popper.min.js}">
	<title>Compras</title>
</head>

<body>
	<header th:include="layout/cabesera :: cabesera"></header>
	<div class="container bg-info">
		<header th:include="layout/header :: header"></header>
		<div class="row">
			<div class="col-md-8">
				<h2 class="text-bg-secondary p-3">Listado de Compras</h2>
			</div>
			<div class="col-md-4">
				<a class="btn btn-dark m-2" th:href="@{/addcompra}" th:text="Agregar" title="Nueva Compra"></a>
			</div>
			<div class="my- mb-4 mc-1">
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 table-resonsive">
				<table class="table tale-striped table-dark" id="compras" border="1">
					<caption>Total de Compras: <a id="resultado"></a>
					</caption>
					<thead>
						<tr>
							<th>ID</th>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Accion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="com : ${com}">
							<td th:text="${com.id}"></td>
							<td th:text="${com.producto}"></td>
							<td th:text="${com.cantidad}"></td>
							<td>
								<a class="btn btn-info" th:href="@{/editcompra/} + ${com.id}" th:text="edit">Editar</a>
								<a class="btn btn-danger" th:href="@{/delecompra/} + ${com.id}"
									th:text="eliminar">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
				<script>
					let tablacompras = document.getElementById('compras');
					let filas = tablacompras.getElementsByTagName('tbody')[0];
					document.getElementById('resultado').innerText = filas.children.length;
				</script>
			</div>
			<div class="col-md-3 col-sm-6 (xs) justify-content-center">
				<aside th:include="layout/publi :: publicidad"></aside>
			</div>
		</div>
		<header th:include="layout/pie :: pie"></header>
	</div>

	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>

</html>