<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/popper.js/2.11.7/umd/popper.min.js}">
	<title>Editar Cliente</title>
</head>

<body>

	<div class="container">
		<header th:include="layout/cabesera :: cabesera"></header>
		<header th:include="layout/header :: header"></header>

		<div class="row justiify-content-center mt-3">
			<div class="col-md-5">
				<h2 class="text-bg-secondary p-3 text-center">Formulario para editar un cliente</h2>

				<form class="form-control bg-dark-subtle" th:object="${nuevoCliente}"
					action="/cliente"}
					method="post">
					<div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Nro Documento: </label>
							</div>
							<div class="col-7">
								<input type="number" th:field="*{nroDocumento}" readonly class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Apellido: </label>
							</div>
							<div class="col-7">
								<input type="text" th:field="*{Apellido}" required class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Nombre: </label>
							</div>
							<div class="col-7">
								<input type="text" th:field="*{Nombre}" required class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Email: </label>
							</div>
							<div class="col-7">
								<input type="email" th:field="*{email}" required class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Password: </label>
							</div>
							<div class="col-7">
								<input type="password" th:field="*{password}" required class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Fecha Nacimiento: </label>
							</div>
							<div class="col-7">
								<input type="date" th:field="*{fechaNacimiento}" required class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Codigo Area Telefono: </label>
							</div>
							<div class="col-7">
								<input type="number" th:field="*{codigoAreaTelefono}" required class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Nro Teléfono: </label>
							</div>
							<div class="col-7">
								<input type="number" th:field="*{nroTeléfono}" required class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Fecha Ultima Compra: </label>
							</div>
							<div class="col-7">
								<input type="date" th:field="*{fechaUltimaCompra}" required class="form-control">
							</div>
						</div>
						<input class="btn btn-info" type="submit" value="Guardar Cliente">
					</div>
				</form>
			</div>
		</div>
		<header th:include="layout/pie :: pie"></header>
	</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>

</html>