<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/popper.js/2.11.7/umd/popper.min.js}">
	<title>Nuevo Producto</title>
</head>

<body>
	<div class="container bg-info">
		<header th:include="layout/cabesera :: cabesera"></header>
		<header th:include="layout/header :: header"></header>
		<div class="row justiify-content-center mt-3">
			<div class="col-md-5">
				<h2 class="text-bg-secondary p-3 text-center">Formulario para agregar Producto</h2>
					<form class="form-control bg-dark-subtle" th:object="${nuevoProducto}"
									action="/productos"
										method="post">
					<div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Codigo: </label>
							</div>
							<div class="col-7">
								<input type="number" th:field="*{codigo}" readonly class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Nombre: </label>
							</div>
							<div class="col-7">
								<input type="text" th:field="*{nombre}" required class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Precio: </label>
							</div>
							<div class="col-7">
								<input type="number" th:field="*{precio}" required class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Marca: </label>
							</div>
							<div class="col-7">
								<input type="text" th:field="*{marca}" required class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Stock: </label>
							</div>
							<div class="col-7">
								<input type="number" th:field="*{stock}" required class="form-control">
							</div>
						</div>
						<input class="btn btn-info" type="submit" value="Guardar Producto">
						</div>
				</form>
			</div>
		</div>
		<header th:include="layout/pie :: pie"></header>
	</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>

</html>