<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/popper.js/2.11.7/umd/popper.min.js}">

</head>

<body>
	<div class="container bg-info">
		<header th:include="layout/cabesera :: cabesera"></header>
		<div class="card text-bg-primary md-8" style="max-width: 80rem;">
			<div class="card-header">Menu de opciones</div>
			<div class="card-body">
				<header th:include="layout/header :: header"></header>
			</div>
		</div>
		<div>
			<img width="400px" src="/img/fondo1.jpg" alt="logo de la uni o publicidad">
		</div>
		<header th:include="layout/pie :: pie"></header>
	</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
</body>

</html>