<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/popper.js/2.11.7/umd/popper.min.js}">
	<title>Compras E/N</title>
</head>

<body>

	<div class="container bg-info">
		<header th:include="layout/cabesera :: cabesera"></header>
		<header th:include="layout/header :: header"></header>

		<div class="row justiify-content-center mt-3">
			<div class="col-md-5">
				<h2 class="text-bg-secondary p-3 text-center" th:text="${titulo}"></h2>
				<form class="form-control bg-dark-subtle" th:action="@{/guardar}" th:object="${compra}" method="post">
					<div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">ID: </label>
							</div>
							<div class="col-7">
								<input type="number" th:field="*{id}" required class="form-control">
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Compra: </label>
							</div>
							<div class="col-7">
								<select required class="form-select" aria-label="Default select example" th:field="*{producto}">
									<option th:each="pro : ${listpro}" th:value="${pro.nombre}" th:text="${pro.nombre}">
										Producto</option>
								</select>
							</div>
						</div>
						<div class="row g-3 align-items-center">
							<div class="col-5">
								<label class="col-form-label">Cantidad: </label>
							</div>
							<div class="col-7">
								<input type="number" th:field="*{cantidad}" required class="form-control">
							</div>
						</div>
						<input class="btn btn-info" type="submit" value="Guardar">
					</div>
				</form>
			</div>
		</div>
		<header th:include="layout/pie :: pie"></header>
	</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}"></script>
</body>

</html>